[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
autopep8 = "==1.5.4"
future = "==0.18.2"
numpy = "==1.19.1"
opencv-python = "==4.4.0.40"
pycodestyle = "==2.6.0"
toml = "==0.10.1"
Pillow = "==7.2.0"
matplotlib = "*"
pandas = "*"

[requires]
python_version = "3.6"
